<div id="myCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">


  <ol class="carousel-indicators ">
    <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="list-unstyled active"></li>
    <li data-bs-target="#myCarousel" data-bs-slide-to="1" class="list-unstyled "></li>
    <li data-bs-target="#myCarousel" data-bs-slide-to="2" class="list-unstyled "></li>
    <!-- <li data-bs-target="#myCarousel" data-bs-slide-to="3" class="list-unstyled "></li> -->
  </ol>

    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="5000">
            <div class="overlay-image" id="Image1" style="height: 100%;">

            </div>

            <div class="container">
                
                <p class="text-success fw-bold">The Farmers Registry System (FRS) is an agriculture database 
                    of farmers created by the Ministry of Agriculture and Livestock.
                     Farmers Registration System is a mandatory registration system that records farmer information at
                     a central database that supports inquiries to ensure that agriculture support is traceable, auditable and reportable. 
                </p>
                
                  <a href="#" class="btn btn-lg btn-secondary bg-success">SignUp today </a>
            </div>

        </div>
        <div class="carousel-item " data-bs-interval="5000">
              <div class="overlay-image" id="Image2" style="height: 100%; width: 100%;">

              </div>
              
              <div class="container">
                <p class="text-white fw-bold">Farmers Registration System is a holistic collection of system that keeps records
                     of personal information and assets for example land, livestock and inputs
                      of farmers actively engaged in agricultural activities as well as cropping patterns and average yields.
                       Agricultural support is implemented,
                     monitored and audited through Farmers Registration System which also informs the creation of agricultural policies
                  </p>
                  <a href="#" class="btn btn-lg btn-secondary bg-success">SignUp today </a>
              </div>

        </div>

        <div class="carousel-item" data-bs-interval="4000">
              <div class="overlay-image" id="Image3" style="height: 100%;">

              </div>
              
              <div class="px-2">
                
                <p class="text-success fw-bold">The Farmers Registry System (FRS) is an agriculture database 
                    of farmers created by the Ministry of Agriculture and Livestock.
                     Farmers Registration System is a mandatory registration system that records farmer information at
                     a central database that supports inquiries to ensure that agriculture support is traceable, auditable and reportable. 
                </p>
                  <a href="#" class="btn btn-lg btn-secondary bg-success">SignUp Leo </a>
              </div>

        </div>

        <!-- <div class="carousel-item" data-bs-interval="4000">
            <div class="overlay-image" id="Image4">

            </div>
            
            <div class="container">
              <h1>hellow</h1>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Sunt molestiae repellendus, quas neque sint incidunt ea,
                praesentium deserunt minus esse repudiandae 
                fugit placeat veniam eveniet! Mollitia praesentium sed accusantium ex.
                </p>
                <a href="#" class="btn btn-lg btn-secondary">SignUp LEO </a>
            </div>

        </div> -->

    </div>


    <a href="#myCarousel" class="carousel-control-prev" role="button" data-bs-slide-to="prev">
      <span class="sr-only"></span>
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </a>
    <a href="#myCarousel" class="carousel-control-next" role="button" data-bs-slide-to="next">
      <span class="sr-only"></span>
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </a>

</div>