  
        <div class="row mt-2 mb-4">
                
            <div class="col-3">
                <div class="card px-3 bg-light shadow">
                    
                        <div class="row">
                            <div class="card-body col-4 ">
                                <div class="container">
                                    <a href="" class="nav-link px-3 active">
                                        <div class="row">
                                            <span class="me-2">
                                                <i class="bi bi-people icon bi-3x"></i>
                                            </span>
                                        </div>
                                        <div class="row">
                                            <p><span class="small">Farmers</span></p>
                                        </div>
                                        <p class="card-text text-success">{{farmers.count}}</p>
                                    </a> 
                                </div>
                                
                            </div>
                        </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card px-3 bg-light shadow">
                    
                        <div class="row">
                            <div class="card-body col-4 ">
                                <div class="container">
                                    <a href="" class="nav-link px-3 active">
                                        <div class="row">
                                            <span class="me-2">
                                                <i class="bi bi-file-earmark"></i>
                                            </span>
                                        </div>
                                        <div class="row">
                                            <p><span class="small">Farms</span></p>
                                        </div>
                                        <p class="card-text">{{farms.count}}</p>
                                    </a> 
                                </div>
                            </div>
                        </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card px-3 bg-light shadow">
                    
                        <div class="row">
                            <div class="card-body col-4 ">
                                <div class="container">
                                    <a href="" class="nav-link px-3 active">
                                        <div class="row">
                                            <span class="me-2">
                                                <i class="bi bi-grid"></i>
                                            </span>
                                        </div>
                                        <div class="row">
                                            <p><span class="small">Crops</span></p>
                                        </div>
                                        <p class="card-text">{{crops.count}}</p>
                                    </a> 
                                </div>
                            </div>
                        </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card px-3 bg-light shadow">
                    
                        <div class="row">
                            <div class="card-body col-4 ">
                                <div class="container">
                                    <a href="" class="nav-link px-3 active">
                                        <div class="row">
                                            <span class="me-2">
                                                <i class="bi bi-briefcase"></i>
                                            </span>
                                        </div>
                                        <div class="row">
                                            <p><span class="small">Regions</span></p>
                                            <p class="card-text text-success">{{regions.count}}</p>
                                        </div>
                                        
                                    </a> 
                                </div>
                                
                            </div>
                        </div>
                </div>
            </div>
        </div>