 {% if request.user.username != form.username %}

    <form id="changePassword" class="row">
        <div class="offset-xl-4 col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header">Change Password</div>
                <div class="card-body">
                    <!-- Form Row-->
                    <div class="row gx-3 mb-4">
                        <!-- Form Group (Change Password)-->
                        <div class="col-md-4">
                            <label class="small mb-1" for="currentPassword">Current Password</label>
                            <input class="form-control" id="currentPassword" name="currentPassword" type="password" placeholder="" value="" required />
                        </div>
                        <div class="col-md-4">
                            <label class="small mb-1" for="newPassword">New Password</label>
                            <input class="form-control" id="newPassword" name="newPassword" type="password" placeholder="" value="" required />
                        </div>
                        <div class="col-md-4">
                            <label class="small mb-1" for="confirmPassword">Confirm Password</label>
                            <input class="form-control" id="confirmPassword" name="confirmPassword" type="password" placeholder="" value="" required />
                        </div>
                    </div>										
                    <!-- Submit button-->
                    <button class="btn btn-primary btn-sm" type="submit"><i class="fas fa-upload fa-sm text-white-50 pe-2"></i> Change Password</button>
                </div>
            </div>
        </div>
    </form>

    {% else %}

    

    {% endif %}
  
   