  {% load static %}
  <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-success topnav">

      <span class="ms-1"><img src="{% static 'Photos/tz_gov_logo.png' %}" alt="" class="px-2 rounded-pill" style="width: 50px; height: 40px; background-color: rgb(190, 231, 185);">
      </span>
    
    <a class="navbar-brand ms-3" href="#">Farmers Registry</a>
    <ul class="navbar-nav">
          
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="">About Us</a>
        </li>
      
    </ul>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarNav">
     

      <div class="d-flex ms-auto">
   
      </div>
      <div class="d-flex">
 
      </div>
      
      
      <ul class="navbar-nav mb-2 mb-lg-2">
          <li class="nav-item mt-2">
            {% if user.is_authenticated %}
                
              <a class="nav-link " href="{% url 'User:farmer-account' %}">{% if user.is_superuser %}Dashboard{% else %}Profile{% endif %}</a>
            {% else %}
                <a href="{% url 'User:login' %}">SignIn</a>
                <a href="{% url 'User:user-register' %}" class="me-2">Register</a>
            {% endif %}

          </li>
      
      </ul>

    </div>
  
  </nav> -->


  <nav class="navbar navbar-expand-lg navbar-light topnav" style="background-color: rgb(85, 182, 96); width: 100%;">
    <span class="ms-1"><img src="{% static 'Photos/tz_gov_logo.png' %}" alt="" class="px-2 rounded-pill" style="width: 50px; height: 40px; background-color: rgb(190, 231, 185);">
    </span>
  
  <a class=" ms-3 text-white" href="#">Farmers Registry</a>


        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'User:farmer-account' %}">
                  {% if user.is_superuser %}Dashboard{% else %}Profile{% endif %}
                </a>
              </li>
              {% else %}
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'User:login' %}">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="{% url 'User:user-register' %}">Register</a>
              </li>
              {% endif %}
            </ul>
        </div>
   
</nav>