{% load static %}
<ul class="navbar-nav bg-white sidebar sidebar-dark accordion h-100 shadow" id="">

			<!-- Sidebar - Brand -->
			<a class="sidebar-brand d-flex align-items-center justify-content-center" href="">
				<div class="sidebar-brand-icon rotate-n-15">
					<i class="fas fa-graduation-cap"></i>
				</div>
				<div class="sidebar-brand-text text-success mx-3">Farmer's Registry System</div>
			</a>

			<!-- Divider -->
			<hr class="sidebar-divider my-0">

			<!-- Nav Item - Dashboard -->
			<li class="nav-item ">
				<a class="nav-link" href="">
					<i class="fas fa-fw fa-tachometer-alt"></i>
					<span>Dashboard</span></a>
			</li>

			<!-- Divider -->
			<hr class="sidebar-divider">

			<!-- Heading -->
			<div class="sidebar-heading">
				USERS
			</div>

			<!-- Nav Item - Farmers -->
			<li class="nav-item ">
				<a class="nav-link" href="">
					<i class="fas fa-fw fa-user"></i>
					<span>Farmers</span></a>
			</li>

			
			<li>
				<a href="#dem" class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" aria-expanded="false" aria-controls="dem">
					<span class="me-2">
						<i class="bi bi-people"></i>
					</span>
					<span class="small">Users</span>
					<span class="ms-auto right-icon">
						<i class="bi bi-chevron-down"></i>
					</span>
				</a>

					<div id="dem" class="collapse">
						<div>
							<ul class="navbar-nav ps-3">
								<a href="" class="nav-link px-3 active">
									<span class="me-2">
										<i class="bi bi-people"></i>
									</span>
									<span class="small">Charity</span>
								</a>
								<a href="" class="nav-link px-3 active">
									<span class="me-2">
										<i class="bi bi-people"></i>
									</span>
									<span class="small">Staffs</span>
								</a>
							  
							</ul>
						</div>
					</div>
			</li>

			<!-- Nav Item - Classes & Streams -->
		

			<!-- Nav Item - Subjects -->
			

			<!-- Divider -->
			<hr class="sidebar-divider bg-success">

			<!-- Heading -->
			<div class="sidebar-heading">
		       Production
			</div>

			<!-- Nav Item - Staff Collapse Menu -->
			<li class="nav-item ">
				<a class="nav-link " href="" data-toggle="collapse" data-target="#collapseStaff" aria-expanded="true"
					aria-controls="collapseStaff">
					<i class="fas fa-fw fa-id-card"></i>
					<span>Staff</span>
				</a>
				<div id="collapseStaff" class="collapse " aria-labelledby="headingStaff" data-parent="#accordionSidebar">
					<div class="bg-light py-2 collapse-inner rounded">
						<h6 class="collapse-header">Staff:</h6>
						<a class="collapse-item " href="">Staff</a>
						<h6 class="collapse-header">Roles:</h6>
						<a class="collapse-item" href="">Roles</a>
					</div>
				</div>
			</li>

			<!-- Divider -->
			<hr class="sidebar-divider d-none d-md-block">

			<!-- Sidebar Toggler (Sidebar) -->
			<div class="text-center d-none d-md-inline">
				<button class="rounded-circle border-0" id="sidebarToggle"></button>
			</div>

		</ul>