<nav class="navbar-dark">
    <ul class="navbar-nav">
        <li>
            <div class="text-light fw-bold text-uppercase px-3 small">core</div>
        </li>
        <li>
            <a href="" class="nav-link px-3 active">
                <span class="me-2">
                    <i class="bi bi-speedometer2"></i>
                </span>
                <span class="small">Dashboard</span>
            </a>
        </li>
        <li>
            <hr class="nav-divider text-white">
        </li>
        <li>
            <div class=" text-white fw-bold text-uppercase px-3 small">Interface</div>
        </li>
        <li>
            <a href="#dem" class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" aria-expanded="false" aria-controls="dem">
                <span class="me-2">
                    <i class="bi bi-people"></i>
                </span>
                <span class="small">Users</span>
                <span class="ms-auto right-icon">
                    <i class="bi bi-chevron-down"></i>
                </span>
            </a>

                <div id="dem" class="collapse">
                    <div>
                        <ul class="navbar-nav ps-3">
                            <a href="" class="nav-link px-3 active">
                                <span class="me-2">
                                    <i class="bi bi-people"></i>
                                </span>
                                <span class="small">Charity</span>
                            </a>
                            <a href="" class="nav-link px-3 active">
                                <span class="me-2">
                                    <i class="bi bi-people"></i>
                                </span>
                                <span class="small">Staffs</span>
                            </a>
                          
                        </ul>
                    </div>
                </div>
        </li>
        <li>
            <a href="" class="nav-link px-3 active">
                <span class="me-2">
                    <i class="bi bi-calendar-event"></i>
                </span>
                <span class="small">Events</span>
            </a>
        </li>
        <li>
            <a href="" class="nav-link px-3 active">
                <span class="me-2">
                    <i class="bi bi-journal-text"></i>
                </span>
                <span class="small">Posts</span>
            </a>
        </li>
        <li>
            <a href="" class="nav-link px-3 active">
                <span class="me-2">
                    <i class="bi bi-cash"></i>
                </span>
                <span class="small">Donations</span>
            </a>
        </li>
  
    

    </ul>
</nav>