{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Farmer's Registation |{% block title %}Home{% endblock title %}</title>
    
  <!-- Bootstrap CSS -->
  
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/Webbase.css' %}" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>
<style>

#Image1{
    background-image: url('{% static "/Photos/Officer.jpg" %}');
  }
  #Image2{
    background-image: url('{% static "/Photos/MamaAfrica.jpg" %}');
    padding: 2px;
  }

  #Image3{
    background-image: url('{% static "/Photos/Agriculture_man.jpg" %}');
  }

  /* #Image4{
    background-image: url('{% static "/Photos/man_cows.jpg" %}');
  } */

</style>
<body>

{% include 'partials/WebBar.html' %}

{% include 'partials/carausel.html' %}



<div class="container-fluid">

    <div class="row mt-3 mb-4">
        <div class="col-1"></div>
        <div class="col-10 px-2">
            <div class="alert alert-success shadow">
              <center>
                <p class="text-muted text-uppercase mt-2">Your small contribution today is the light of their future </p>
              </center>
              
            </div>
        </div>
        <div class="col-1"></div>
    </div>


</div>

<!-- footer -->

<!-- footer -->




  <!-- top picture-background -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script> -->
<script src="{% static 'js/bootstrap.bundles.js' %}"></script>
<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'js/datatables.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
  
 
</body>
</html>
