{% extends 'users/FarmerPage.html'%}
{% load static %}
{% block header %}Regional Prices {% endblock %}
{% block btn %}{% endblock %}
{% block title %}Regional Prices {% endblock %}
{% block cumb %}Regional Prices {% endblock %}
{% block content %}
<div class="container mt-4">
    {% if regional_prices %}
        <h2>Regional Prices for Your Crops</h2>
    
    <div class="row">
        {% for price in regional_prices %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm bg-success">
                <div class="card-body">
                    <h5 class="card-title">{{ price.crop.name }}</h5>
                    <p class="card-textt text-light">Region: <span class="text-muted fw-bold">{{ price.region.name }}</span></p>
                    <p class="card-textt text-light">Price: <span class="text-muted fw-bold"> Tsh{{ price.price }} 1kg</span></p>
                   
                    
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}

    {% endif %}
</div>
{% endblock %}