{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
</head>
<body>
    <div class="container-fluid">
    <div class="row bg-light">
        <div class="col-2"></div>
            <div class=" col-8 mt-3">
                <h1 class="text-success card-text text-center bg-light">Farm Registration Form</h1>
                <div class="card">
                    <div class="card-body">

                        <form action="{% url 'User:register-Farm' %}" method="post">
                            {% csrf_token %}
                            {% if messages %}
                      
                            {% for message in messages %}
                          
                            <div class="">
                                <div class="alert alert-danger alert-dismissible">
                                  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                  {{message}}
                                </div>
                            </div>
                            {% endfor %}
                          {% endif %}

                            <div class="row mb-1">
                        
                                <div class="col-4 px-4 mt-0 mb-0" >
                                  <label for="">name</label>
                                  <input type="text" class="form-control"  id="nameField"  placeholder="Enter Farm name" name="farmname">
                                  
                                </div>

                                <div class="col-4 px-4">
                                    <label for="">Size</label>
                                    <input type="text"  class="form-control" name="size">
                                </div>

                                  <div class="col-4 px-4 mt-0 mb-0" >
                                    <label for="">crop_type</label>

                                    <select name="crop_type" id="">
                                        {% for crop_type in crop_types %}
                                        <option value="{{crop_type.id}}" name="crop_type">{{ crop_type.name }}</option>

                                        {% endfor %}
                                    </select>
                                  
                                    
                                  </div>
       
                              </div>

                              <div class="row">

                                <div class="col-6 px-4">
                                    <label for="">Region</label>
                                    <select name="region" id="regionSelect" data-url="{% url 'User:load-districts' %}">
                                        {% for region in regions %}
                                        <option value="{{region.id}}" >{{ region.name }}</option>

                                        {% endfor %}
                                    </select>
                                    
                                </div>

                                  <div class="col-6 px-4 mt-0 mb-0" >
                                    <label for="">districts</label>
                                    <select name="district" id="districtSelect">
                                        {% for district in districts %}
                                        <option value="{{district.id}}" name="district">{{ district.name }}</option>

                                        {% endfor %}
                                    </select>
                                  </div>

                              </div>
                              <div class="row">
                                <div class="col-5"></div>
                                <div class="col-2 ms-4"><button type="submit" class="btn btn-success mt-3">Submit</button></div>
                                <div class="col-5"></div>
                            </div>

                        </form>
                        
                    </div>
                </div>
            </div>
        <div class="col-2"></div>
    </div>
    </div>
   
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'js/datatables.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>

</body>
</html>
