{% extends 'users/FarmerPage.html'%}

{% block header %}Register Farm {% endblock %}
{% block btn %}{% endblock %}
{% block title %}Register Farm {% endblock %}
{% block cumb %}Register Farm {% endblock %}
{% block content %}

                        <form action="{% url 'User:register-Farm' %}" method="post">
                            {% csrf_token %}
                            <div class="row mt-2 mb-2">
                              <div class="col-3"></div>
                              <div class="col-8">{% include 'partials/messages.html' %}</div>
                              <div class="col-1"></div>
                          </div>

                            <div class="row mb-1">
                        
                                <div class="col-4 px-4 mt-0 mb-0" >
                                  <label for="">name</label>
                                  <input type="text" class="form-control"  id="nameField"  placeholder="Enter Farm name" name="farmname">
                                  <input type="hidden" class="form-control"  value="{{farmer}}" name="farmer" style="display: none;">
                                  
                                </div>

                                <div class="col-4 px-4">
                                    <label for="">Size</label>
                                    <input type="text"  class="form-control" name="size">
                                </div>

                                  <div class="col-4 px-4 mt-0 mb-0" >
                                    <label for="">crop_type</label>

                                    <select name="crop_type" id="" class="form-control">
                                        {% for crop_type in crop_types %}
                                        <option value="{{crop_type.id}}" name="crop_type">{{ crop_type.name }}</option>

                                        {% endfor %}
                                    </select>
                                  
                                    
                                  </div>
       
                              </div>

                              <div class="row">

                                <div class="col-6 px-4">
                                    <label for="">Region</label>
                                    <select name="region" id="regionSelect" data-url="{% url 'User:load-districts' %}" class="form-control">
                                        {% for region in regions %}
                                        <option value="{{region.id}}" >{{ region.name }}</option>

                                        {% endfor %}
                                    </select>
                                    
                                </div>

                                  <div class="col-6 px-4 mt-0 mb-0" >
                                    <label for="">districts</label>
                                    <select name="district" id="districtSelect" class="form-control">
                                        {% for district in districts %}
                                        <option value="{{district.id}}" name="district">{{ district.name }}</option>

                                        {% endfor %}
                                    </select>
                                  </div>

                              </div>
                              <div class="row">
                                <div class="col-5"></div>
                                <div class="col-2 ms-4"><button type="submit" class="btn btn-success mt-3">Submit</button></div>
                                <div class="col-5"></div>
                            </div>

                        </form>
                        
                {% endblock %}
